@font-face {
  font-family: Myriadpro boldcond;
  src: url("../fonts/myriadpro-boldcond-webfont.eot");
  src: url("../fonts/myriadpro-boldcond-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-boldcond-webfont.woff") format("woff"), url("../fonts/myriadpro-boldcond-webfont.ttf") format("truetype"), url("../fonts/myriadpro-boldcond-webfont.svg") format("svg");
}

@font-face {
  font-family: Myriadpro regular;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
}

@font-face {
  font-family: DS Digital;
  src: url("../fonts/ds-digital.eot");
  src: url("../fonts/ds-digital.eot?#iefix") format("embedded-opentype"), url("../fonts/ds-digital.woff") format("woff"), url("../fonts/ds-digital.ttf") format("truetype"), url("../fonts/ds-digital.svg") format("svg");
}

@font-face {
  font-family: Tahomawefi;
  src: url("../fonts/Tahoma.eot");
  src: url("../fonts/Tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/tahoma.woff") format("woff"), url("../fonts/Tahoma.ttf") format("truetype"), url("../fonts/Tahoma.svg") format("svg");
}

/* line 34, ../sass/clients.scss */
img.center {
  margin: 0 auto;
}

/* line 38, ../sass/clients.scss */
img.header {
  margin: 0 auto;
  width: 100%;
}

/* line 43, ../sass/clients.scss */
.row {
  margin: 0;
}

/* line 47, ../sass/clients.scss */
.col {
  padding: 0;
}

/* line 51, ../sass/clients.scss */
.block {
  padding: 0 10px;
  font-family: Tahomawefi;
  font-size: 14px;
  color: #434343;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 18px;
}

/* line 61, ../sass/clients.scss */
.middle-block {
  position: relative;
}

/* line 65, ../sass/clients.scss */
.no-padding {
  padding: 0 !important;
}

/* line 69, ../sass/clients.scss */
.no-margin-bottom {
  margin-bottom: 0 !important;
}

/* line 73, ../sass/clients.scss */
.padding-top {
  padding-top: 10px;
}

/* line 77, ../sass/clients.scss */
.title {
  font-family: Myriadpro boldcond;
  color: #3E3E3E;
  margin-bottom: 10px;
}
/* line 81, ../sass/clients.scss */
.title a {
  background: url("../images/arrow3.png") no-repeat 0 4px;
  color: #3db6e8;
  text-decoration: none;
  padding-left: 25px;
}

/* line 89, ../sass/clients.scss */
.title.very-big {
  font-size: 63px;
}

/* line 93, ../sass/clients.scss */
.title.big {
  font-size: 35px;
  line-height: 34px;
}

/* line 98, ../sass/clients.scss */
.title.large {
  font-size: 28px;
}

/* line 102, ../sass/clients.scss */
.title.middle {
  font-size: 24px;
}

/* line 106, ../sass/clients.scss */
.title.small {
  font-size: 20px;
}

/* line 110, ../sass/clients.scss */
.title.tiny {
  font-size: 15px;
}

/* line 115, ../sass/clients.scss */
.title.green a {
  background: url("../images/arrow.png") no-repeat 0 4px;
  color: #84be33;
}

/* line 122, ../sass/clients.scss */
.row ul {
  padding: 0;
}
/* line 124, ../sass/clients.scss */
.row ul li {
  list-style-type: none;
  padding-left: 30px;
  line-height: 25px;
  background: url("../images/arrow3.png") left no-repeat;
  background-position: 0 6px !important;
}

/* line 135, ../sass/clients.scss */
ul.blue li {
  background: url("../images/arrow3.png") left no-repeat;
}

/* line 141, ../sass/clients.scss */
ul.green li {
  background: url("../images/arrow.png") left no-repeat;
}

/* line 147, ../sass/clients.scss */
ul.orange li {
  background: url("../images/arrow2.png") left no-repeat;
}

/* line 152, ../sass/clients.scss */
a {
  color: #165d7b;
  text-decoration: none;
}

/* line 157, ../sass/clients.scss */
.view-management {
  padding-bottom: 72px;
  margin: -9px auto;
}
/* line 160, ../sass/clients.scss */
.view-management .views-row-open {
  padding-bottom: 0px !important;
}
/* line 163, ../sass/clients.scss */
.view-management .views-row {
  clear: left;
  margin-top: 18px;
  padding-bottom: 10px;
  background: url("../images/dividing_line.png") no-repeat 0px bottom;
  position: relative;
}
/* line 169, ../sass/clients.scss */
.view-management .views-row .content {
  display: table;
}
/* line 172, ../sass/clients.scss */
.view-management .views-row .contextual-links-region {
  display: none;
}
/* line 176, ../sass/clients.scss */
.view-management .views-field-field-manager-photo {
  float: left;
}
/* line 178, ../sass/clients.scss */
.view-management .views-field-field-manager-photo img {
  width: 85% !important;
  height: auto !important;
}
/* line 183, ../sass/clients.scss */
.view-management .views-field-field-name, .view-management .views-field-field-second-name {
  float: left;
  margin-right: 5px;
}
/* line 187, ../sass/clients.scss */
.view-management .views-field-field-link {
  padding-bottom: 10px;
}
/* line 189, ../sass/clients.scss */
.view-management .views-field-field-link .field-content {
  display: block;
}
/* line 192, ../sass/clients.scss */
.view-management .views-field-field-link .field-content .full-biography, .view-management .views-field-field-link .field-content .close-text {
  float: left;
}
/* line 196, ../sass/clients.scss */
.view-management .views-field-field-link a {
  text-decoration: none;
  color: #055B7C;
  font-family: Tahomawefi;
  font-weight: bold;
  font-size: 13px;
  background: url("../images/linkedin.png") no-repeat 12px 0;
}
/* line 204, ../sass/clients.scss */
.view-management .views-field-field-link a:before {
  content: '|';
  padding-right: 32px;
}
/* line 209, ../sass/clients.scss */
.view-management .views-row-open .views-field-field-link {
  left: 150px;
}
/* line 212, ../sass/clients.scss */
.view-management .views-field-field-name, .view-management .views-field-field-second-name {
  font-family: Myriadpro boldcond;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 20px;
  color: #424242;
}
/* line 222, ../sass/clients.scss */
.view-management .views-field-field-function {
  font-family: Myriadpro boldcond;
  color: #424242;
  text-transform: uppercase;
  font-size: 19px;
  margin-top: 2px;
}
/* line 229, ../sass/clients.scss */
.view-management .views-field-body {
  padding-bottom: 10px;
}
/* line 231, ../sass/clients.scss */
.view-management .views-field-body .field-content {
  color: #424242;
  font-family: Tahomawefi;
  font-size: 13px;
  margin-top: 9px;
}
/* line 236, ../sass/clients.scss */
.view-management .views-field-body .field-content #content-summary {
  clear: both;
}
/* line 239, ../sass/clients.scss */
.view-management .views-field-body .field-content #content-body {
  display: none;
}
/* line 244, ../sass/clients.scss */
.view-management .full-biography, .view-management .close-text {
  font-family: Tahomawefi;
  font-weight: bold;
  color: #055b7c;
  font-size: 13px;
  cursor: pointer;
  padding-right: 5px;
}
/* line 252, ../sass/clients.scss */
.view-management .close-text {
  display: none;
}
/* line 256, ../sass/clients.scss */
.view-management .views-row-open .close-text {
  display: block;
}
/* line 260, ../sass/clients.scss */
.view-management .views-row-open .views-field-body {
  padding-bottom: 5px;
}

/* line 266, ../sass/clients.scss */
.column-1 ul, .column-2 ul {
  padding-bottom: 15px;
}
/* line 268, ../sass/clients.scss */
.column-1 ul li, .column-2 ul li {
  line-height: 22px;
}

/* line 274, ../sass/clients.scss */
.column-1 {
  padding-right: 30px;
  border-right: 1px dashed #a8a8a8;
}
/* line 277, ../sass/clients.scss */
.column-1 .border-line {
  border-bottom: 1px dashed #a8a8a8;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* line 285, ../sass/clients.scss */
.column-2 {
  padding-left: 20px;
}

/* line 289, ../sass/clients.scss */
.comment {
  margin-top: 10px;
  font-family: Tahoma Regular;
  font-size: 14px;
  font-style: oblique;
  color: #989898;
}

/* line 297, ../sass/clients.scss */
.border-bottom {
  margin-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px dashed #acacac;
}
