/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Myriadpro boldcond;
  src: url("../fonts/myriadpro-boldcond-webfont.eot");
  src: url("../fonts/myriadpro-boldcond-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-boldcond-webfont.woff") format("woff"), url("../fonts/myriadpro-boldcond-webfont.ttf") format("truetype"), url("../fonts/myriadpro-boldcond-webfont.svg") format("svg");
}

@font-face {
  font-family: Myriadpro regular;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
}

@font-face {
  font-family: DS Digital;
  src: url("../fonts/ds-digital.eot");
  src: url("../fonts/ds-digital.eot?#iefix") format("embedded-opentype"), url("../fonts/ds-digital.woff") format("woff"), url("../fonts/ds-digital.ttf") format("truetype"), url("../fonts/ds-digital.svg") format("svg");
}

@font-face {
  font-family: Tahomawefi;
  src: url("../fonts/Tahoma.eot");
  src: url("../fonts/Tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/tahoma.woff") format("woff"), url("../fonts/Tahoma.ttf") format("truetype"), url("../fonts/Tahoma.svg") format("svg");
}

/* line 41, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 45, ../sass/screen.scss */
body {
  display: inline-block;
}

/* line 50, ../sass/screen.scss */
.container-fluid header {
  padding: 0;
  margin: 0;
  height: 212px;
  background: url("../images/header.png");
}
/* line 55, ../sass/screen.scss */
.container-fluid header .header-wrapper {
  height: 212px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}
/* line 60, ../sass/screen.scss */
.container-fluid header .header-wrapper ul {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  clear: both;
  /*li.first {
    margin-right: 15px;
    width: 128px;
    height: 128px;
    background: url("../images/sprite.png") no-repeat 5px 5px;
  }
  li.first:hover {
    background-position: 5px -168px;
  }
  li.second {
    margin-right: 15px;
    width: 128px;
    height: 128px;
    background: url("../images/sprite.png") no-repeat 5px -1033px;
  }
  li.second:hover {
    background-position: 5px -1206px;
  }
  li.third {
    margin-right: 15px;
    width: 128px;
    height: 128px;
    background: url("../images/sprite.png") no-repeat 5px -339px;
  }
  li.third:hover {
    background-position: 5px -514px;
  }
  li.fourth {
    width: 128px;
    height: 128px;
    background: url("../images/sprite.png") no-repeat 5px -687px;
  }
  li.fourth:hover {
    background-position: 5px -860px;
  }*/
}
/* line 66, ../sass/screen.scss */
.container-fluid header .header-wrapper ul li {
  float: left;
  text-align: center;
}
/* line 69, ../sass/screen.scss */
.container-fluid header .header-wrapper ul li a {
  display: block;
  padding-top: 20px;
  font-size: 14px;
  color: #fff;
  min-width: 135px;
  height: 154px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Tahomawefi';
  letter-spacing: 0px;
  word-spacing: 2px;
  word-wrap: normal;
  white-space: nowrap;
  line-height: 16px;
}
/* line 85, ../sass/screen.scss */
.container-fluid header .header-wrapper ul li a:hover {
  font-weight: bold;
}
/* line 88, ../sass/screen.scss */
.container-fluid header .header-wrapper ul li img {
  display: block;
  margin: 0 auto;
}
/* line 131, ../sass/screen.scss */
.container-fluid .spots-wrapper {
  padding-top: 35px;
  padding-bottom: 30px;
}
/* line 134, ../sass/screen.scss */
.container-fluid .spots-wrapper #count-spots-value {
  font-family: DS Digital;
  font-size: 66px;
  color: #84be33;
  text-align: center;
  padding-bottom: 10px;
}
/* line 141, ../sass/screen.scss */
.container-fluid .spots-wrapper .title {
  font-family: Myriadpro boldcond;
  font-size: 20px;
  color: #434343;
  text-align: center;
  padding-bottom: 15px;
}
/* line 148, ../sass/screen.scss */
.container-fluid .spots-wrapper .line {
  height: 16px;
  margin-right: auto;
  margin-left: auto;
}
