/*======App page=======*/
.title.big
  margin-top: 35px
  margin-bottom: 30px
p.first
  margin-bottom: 20px
.android
  margin-top: 30px
  padding-bottom: 25px
  border-bottom: 1px dashed #acacac 
  .title 
    background: url("../images/arrow3.png") no-repeat 5px
    a 
      color: #3db6e8
      text-decoration: none
.pc-ne 
  margin-top: 30px
  padding-bottom: 25px
  border-bottom: 1px dashed #acacac
  .title 
    background: url("../images/arrow.png") no-repeat 5px
    a 
      color: #84be33
      text-decoration: none
.symbian
  margin-top: 30px
  padding-bottom: 25px
  border-bottom: 1px dashed #acacac
  .title 
    background: url("../images/arrow2.png") no-repeat 5px
    a 
      color: #f34d00
      text-decoration: none
.android, .pc-ne, .symbian
  .title 
    padding-left: 30px
    margin-bottom: 10px
    font-family: Myriadpro boldcond
    font-size: 25px
.comment 
  margin-top: 10px
  font-family: Tahoma Regular
  font-size: 14px
  font-style: oblique
  color: #989898
h2 
  font-family: Myriadpro boldcond
  font-size: 40px
  color: #3e3e3e
  margin-top: 40px
