@font-face {
  font-family: Myriadpro boldcond; 
  src: url('../fonts/myriadpro-boldcond-webfont.eot');
  src: url('../fonts/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/myriadpro-boldcond-webfont.woff') format('woff'), 
       url('../fonts/myriadpro-boldcond-webfont.ttf') format('truetype'), 
       url('../fonts/myriadpro-boldcond-webfont.svg') format('svg');
 }
@font-face {
  font-family: Myriadpro regular; 
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'), 
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg') format('svg'); 
}
@font-face {
  font-family: DS Digital; 
  src: url('../fonts/ds-digital.eot');
  src: url('../fonts/ds-digital.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ds-digital.woff') format('woff'), 
       url('../fonts/ds-digital.ttf') format('truetype'),  
       url('../fonts/ds-digital.svg') format('svg');
} 
@font-face {
  font-family: Tahomawefi; 
  src: url('../fonts/Tahoma.eot');
  src: url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tahoma.woff') format('woff'),  
       url('../fonts/Tahoma.ttf') format('truetype'),
       url('../fonts/Tahoma.svg') format('svg');
}

img.center {
  margin: 0 auto;
}

img.header {
  margin: 0 auto;
  width: 100%;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.block {
  padding: 0 10px;
  font-family: Tahomawefi;
  font-size: 14px;
  color: #434343;
  margin-top: 20px;
  margin-bottom: 20px; 
  line-height: 18px;
}

.middle-block {
  position: relative;
}

.no-padding {
  padding: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-top {
  padding-top: 10px;
}

.title {
  font-family: Myriadpro boldcond;
  color: #3E3E3E;
  margin-bottom: 10px;
  a {
    background: url("../images/arrow3.png") no-repeat 0 4px;
    color: #3db6e8;
    text-decoration: none;
    padding-left: 25px;
  }
}

.title.very-big {
  font-size: 63px;
}

.title.big {
  font-size: 35px;
  line-height: 34px;
}

.title.large {
  font-size: 28px;
}

.title.middle {
  font-size: 24px;
}

.title.small {
  font-size: 20px;
}

.title.tiny {
  font-size: 15px;
}

.title.green {
  a {
    background: url("../images/arrow.png") no-repeat 0 4px;
    color: #84be33;
  }
}

.row {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      padding-left: 30px;
      line-height: 25px;
      background: url("../images/arrow3.png") left no-repeat; 
      background-position: 0 6px !important;
    }
  }
}

ul.blue {
  li {
    background: url("../images/arrow3.png") left no-repeat;    
  }
}

ul.green {
  li {
    background: url("../images/arrow.png") left no-repeat;    
  }
}

ul.orange {
  li {
    background: url("../images/arrow2.png") left no-repeat;    
  }
}

a {
  color: #165d7b;
  text-decoration: none;
}

.view-management {
  padding-bottom: 72px;
  margin: -9px auto;
  .views-row-open{
    padding-bottom: 0px !important;
  }
  .views-row{
    clear: left;
    margin-top: 18px;
    padding-bottom: 10px;
    background: url("../images/dividing_line.png") no-repeat 0px bottom;
    position: relative;
    .content {
      display: table;
    }
    .contextual-links-region {
      display: none;
    }
  }
  .views-field-field-manager-photo{
    float: left;
    img {
      width: 85% !important;
      height: auto !important;
    }
  }
  .views-field-field-name{
    float: left;
    margin-right: 5px;
  }
  .views-field-field-link {
    padding-bottom: 10px;
    .field-content {
      //display: -webkit-box;
      display: block;
      .full-biography {
        float: left;
      }
    }
    a {
      text-decoration: none;
      color: #055B7C;
      font-family: Tahomawefi;
      font-weight: bold;
      font-size: 13px;
      background: url('../images/linkedin.png') no-repeat 12px 0;
    }
    a:before {
      content: '|';
      padding-right: 32px;
    }
  }
  .views-row-open .views-field-field-link {
    left: 150px;    
  }
  .views-field-field-name {
    font-family: Myriadpro boldcond;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 20px;
    color: #424242;
  }
  .views-field-field-second-name {
    @extend .views-field-field-name;
  }
  .views-field-field-function{
    font-family: Myriadpro boldcond;
    color: #424242;
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 2px;
  }
  .views-field-body{
    padding-bottom: 10px;
    .field-content{
      color: #424242;
      font-family: Tahomawefi;
      font-size: 13px;
      margin-top: 9px; 
      #content-summary {
        clear: both;
      }   
      #content-body{
        display: none;
      }
    }
  }
  .full-biography{
    font-family: Tahomawefi;
    font-weight: bold;
    color: #055b7c;
    font-size: 13px;
    cursor: pointer;
    padding-right: 5px;
  }
  .close-text{
    @extend .full-biography;
    display: none;
  }
  .views-row-open .close-text{  
    display: block;
  }

  .views-row-open .views-field-body{
    padding-bottom: 5px;    
  }
}

.column-1, .column-2 {
  ul {
    padding-bottom: 15px;
    li {
      line-height: 22px;
    }
  }
}

.column-1 {
  padding-right: 30px;
  border-right: 1px dashed #a8a8a8;
  .border-line { 
    border-bottom: 1px dashed #a8a8a8;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
}

.column-2 {
  padding-left: 20px;
}

.comment {
  margin-top: 10px;
  font-family: Tahoma Regular;
  font-size: 14px;
  font-style: oblique;
  color: #989898;
}

.border-bottom {
  margin-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px dashed #acacac;
}